workflows/Twitter_Followers.json
{
  "name": "Twitter Followers",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "1f8757a5-b44e-4f31-aed9-d9deca69caa6",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/users/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user.fields",
              "value": "public_metrics"
            }
          ]
        },
        "options": {}
      },
      "id": "72a6de1f-c108-4136-a98f-7f601a437591",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.128/api/custom",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "twitterfollowers"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ \n\nIntl.NumberFormat('en-US', { notation: \"compact\", maximumFractionDigits: 2 }).format($json.data.public_metrics.followers_count)\n\n}}\n"
            },
            {
              "name": "icon",
              "value": "25284"
            }
          ]
        },
        "options": {}
      },
      "id": "a792da6c-d651-4c72-b947-5c8bc34f3803",
      "name": "Send to Clock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1620,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Send to Clock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "bd2ae7b5-b1b7-471d-a001-708f34da3aad",
  "id": "22",
  "meta": {
    "instanceId": "d8d66fcd7d07924945bc1e620604d1c6aa07facc79672a71bea616442093ee2c"
  },
  "tags": []
}